__pycache__
*.png
.ipynb_checkpoints/

ScoreDependenceClassifier.ipynb
calibration.ipynb
correlations.ipynb
improvements.ipynb
open_world.ipynb
qualitative_inspection.ipynb
raw_demonstration.ipynb

competence_estimation.egg-info/
notebooks/
results/
results_old/

.commands.txt
Hyperparameters.ipynb
PaperPlots_ClosedWorld.ipynb
PaperPlots_OpenWorld.ipynb
competence_estimation/create_inn_scores.py
plots_histo_rotatedMNIST.ipynb
results_percentage.csv
results_percentages.pickle


ClassifiersDifferences.ipynb
OneClassifier.ipynb

Regression.ipynb
results_submission/
submission_notebooks/

Stefan_Plots.ipynb
figures/
results_after/

