__pycache__
*.png
.ipynb_checkpoints/

ScoreDependenceClassifier.ipynb
calibration.ipynb
correlations.ipynb
improvements.ipynb
open_world.ipynb
qualitative_inspection.ipynb
raw_demonstration.ipynb

competence_estimation.egg-info/
notebooks/
results/
results_old/

.commands.txt
Hyperparameters.ipynb
PaperPlots_ClosedWorld.ipynb
PaperPlots_OpenWorld.ipynb
competence_estimation/create_inn_scores.py
plots_histo_rotatedMNIST.ipynb
results_percentage.csv
results_percentages.pickle


ClassifiersDifferences.ipynb
OneClassifier.ipynb

Regression.ipynb
results_submission/
submission_notebooks/

Stefan_Plots.ipynb
figures/
results_after/


.commands_classified.txt
Stefan_Plots-Copy1.ipynb
Untitled-Copy1.ipynb
Untitled.ipynb
WILDS_Plot.ipynb
acc_boxplots.pdf
acc_boxplots_tentative.pdf
competence_estimation/classifiers.py
competence_estimation/create_classified_scores.py
frac_boxplots_tentative.pdf
restuls_wilds/
results_classification/
results_wilds/
safe_curves.pdf
safe_curves_ERM_DomainNet.pdf
safe_curves_ERM_OfficeHome.pdf
safe_curves_ERM_PACS.pdf
safe_curves_ERM_SVIRO.pdf
safe_curves_ERM_TerraIncognita.pdf
safe_curves_ERM_VLCS.pdf
safe_curves_pacs.pdf
safe_curves_wilds2.pdf

