__pycache__
*.png
.ipynb_checkpoints/

ScoreDependenceClassifier.ipynb
calibration.ipynb
correlations.ipynb
improvements.ipynb
open_world.ipynb
qualitative_inspection.ipynb
raw_demonstration.ipynb

competence_estimation.egg-info/
notebooks/
results/
results_old/

